*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color:white;
}
/* reset html */
html {
	color: #000;
	background: #FFF;
}

/* body reset default */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

  /* reset font */
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

/* rimuove list styles su ul, ol */
ul,
ol {
  list-style: none;
}
a{
    color: var(--white);
}

/* colori */
:root{
    --bluehard:#2a5bff;
    --bluechill: #1e90ff;
    --white:#ffffff;
    --whitedark:#dfdfdf;
    --redfluo:#ff3636;
    --redlow:#d92121;
    --yellowchill:#f0ef59;
    --yellowfluo:#fffe6c;
    --violetchill:#b735db;
    --violetlight:#dd84f6;
    --greenfluo:#32ee4f;
    --greenlow:#01a319;
    --greylight:#c6c6c6;
    --greydark:#9d9d9d;
    --blacksoft:#535252;
    --black:#000000;
}


/* by Brambilla Elia */

/*contenitore*/

.contenitore{
    height: 100vh;
    width: 100%;
    background-color: var(--black);
    overflow: hidden;
  }
  
  /*main*/
  
  .main{
    height: calc(100% - 90px);
  }
  
  .main:after{
    content: '';
    display: table;
    clear: both;
  }
  
  /*box*/
  
  .box{
    width: 200px;
  }
  
  .box:last-child{
    width: calc(100% - 200px);
  }
  
  .sx,
  .dx{
    float: left;
  }

  /* main principale*/
/* layout */
.container h2 {
  text-align: left;
}
.container {
  width: 100%;
  margin: auto;
  padding: 1.5rem;
}
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* testo */
.text-center {
  text-align: center;
}

/* col */
.col {
  width: calc(100% / 6 - 20px);
  margin:10px;
}
.col img {
  height: 250px;
  margin-bottom: 0.8rem;
}

.row-left {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
/* sezione 2 */
#text-left {
  text-align: left;
  padding-bottom: 10px;
}
/* sezione 3 */
.card-oval img {
  border-radius: 50%;
}
  /* fine main principale */
  
  /* box sx*/
  aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #000000;
    color: var(--greydark);
  }
  
  .header-box-sx .logo-nav:first-child img{
    padding: 10px 0;
    height: 70px;
  }
  
  .sx ul li{
    padding: 5px 0;
    list-style: none;
  }
  
  .main-box-sx{
    min-height: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left:5px;
  }
  
  .main-box-sx ul{
    height: 100%;
    overflow-y: auto;
  }
  
  .main-box-sx ul li:first-child #big{
    font-size: 40px;
    padding-right: 5px;
    vertical-align: middle;
  }
  
  .logo-nav:nth-child(3){
    border-left: 2px solid var(--greenfluo);
  }
  
  .logo-nav:not(:first-child)>img{
    width: 30px;
    vertical-align: middle;
    margin: 5px;
  }
  
  .logo-nav:nth-child(2){
    display: none;
  }
  
  .footer-box-sx{
    padding: 10px 5px 10px 0;
  }
  
  .footer-box-sx hr{
    margin: 10px 0;
  }
  
   .footer-box-sx img{
    height: 30px;
    background-color: var(--blacksoft);
    border-radius: 50%;
    vertical-align: middle;
  }
  
  /* box upgrade */
  
  .dx{
    height: 100%;
    overflow-y: scroll;
  }
  
  .header-upgrade{
    height: 80px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, 0.7);
    text-align: right;
    line-height: 80px;
    position: fixed;
    z-index: 1;
  }
  
  .btn-big{
    border-radius: 30px;
    border: 1px solid var(--white);
    padding: 10px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
  }
  .btn-big:hover{
    background-color:var(--greydark);
  }
   
  .nav-bar-middle{
    display: flex;
    justify-content: center;
}
  
  .nav-bar-middle li{
    color:white;
    text-align: center;
    margin:0.6rem;
    cursor: pointer;
    font-size: 0.7rem;
    margin-top:5%;
  }

  .nav-bar-middle li:hover{
    color:white;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid var(--greenfluo);
  }

  /* footer */
/*player bottom*/
*{
  color:white;
  text-decoration:none;
  font-size:0.9rem;
}
#player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0;
  background-color: #171717;
  }

/*album in corso*/
.album-playing-container {
  flex-basis: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.album-playing-container img {
  max-width: 40px;
  margin-right: 10px;
}

.album-playing-container i {
  font-size: 16px;
}

.album-name {
  padding-right: 40px;
  display: flex;
  flex-direction: column;
}

.album-icons {
  display: flex;
  flex-direction: column;
}

.fa-heart {
  padding-right: 15px;
}
/*album in corso fine*/

/*player controller*/
.player-controller-container {
  flex-basis: 40%;
  margin-bottom: 12px;
}

.player-controller {
  padding: 15px 0 15px;
}

.player-controller ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressbar-and-number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  height: 4px;
  flex-grow: 1;
  background-color: #535353;
  border-radius: 5px;
  position: relative;
}

.partial-bar {
  height: 4px;
  width: 25%;
  background-color: #fff;
  border-radius: 5px;
}

.partial-bar:hover::before {
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  bottom: -5px;
  left: 23%;
  cursor: pointer;
}

.song-progress {
  padding-right: 30px;
}

.song-duration {
  padding-left: 30px;
}

.player-controller ul li {
  display: inline;
}

#player i:hover {
  color: #1dd05d;
}

.fa-random,
.fa-step-backward,
.fa-play-circle,
.fa-step-forward {
  padding-right: 20px;
}

.fa-random,
.fa-step-backward,
.fa-step-forward,
.fa-redo-alt {
  font-size: 12px;
}

.fa-play-circle {
  font-size: 24px;
}
/*Player Controller End*/

/*Right Controller*/
.right-controller-container {
  flex-basis: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.right-controller {
  display: flex;
  flex-direction: row;
}

.right-controller i {
  font-size: 12px;
}

.right-controller a {
  padding-right: 15px;
}

.right-controller-bar {
  flex-basis: 20%;
  height: 4px;
  background: #535353;
  border-radius: 2px;
  align-self: center;
  position: relative;
}

.right-controller-partial-bar {
  height: 4px;
  width: 25%;
  background-color: #fff;
  border-radius: 5px;
}

.right-controller-partial-bar:hover::before {
  content: '';
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 22%;
  cursor: pointer;
}
/*controller destro fine*/
/*player bottom fine*/

/* MEDIA QUERIES */
@media only screen and (max-width: 1440px) {
  .container {
    width: 100%;
    margin: auto;
    padding: 1.5rem;
  }
  .col {
    width: calc(100% / 6);
  }
  .col img {
    height: 200px;
    margin-bottom: 0.8rem;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    margin: auto;
    padding: 1.5rem;
  }
  .col {
    width: calc(100% / 3);
  }
}

@media only screen and (max-width: 824px) {
  .container {
    width: 100%;
    margin: auto;
    padding: 1.5rem;
  }
  .col {
    width: calc(100% / 3);
  }
  .col img {
  height: 250px;
  margin-bottom: 0.8rem;
}
}

@media only screen and (max-width: 768px) {
  .box{
    width: 50px;
  }
  .col {
    width: calc(100% / 4 - 50px);
  }
  .box:last-child {
    width: calc(100% - 20s0px);
  }
  .container {
    width: 100%;
    margin: auto;
    padding: 1.5rem;
  }
  .col img {
    height: 200px;
    margin-bottom: 0.8rem;
    padding:10px;
  }
}

@media only screen and (max-width: 425px) {
  .box{
    width: 50px;
  }
  .logo-big{
    display: none;
  }
  .logo-small{
    display: inline-block;
  }
  .main-box-sx{
    display: none;
  }
  .main-contenuti{
    width: 375px;
  }
  .row {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 105%;
  }
  
  .container {
    width: 100%;
    margin: auto;
    padding: 1.5rem;
  }
  .col {
    width: calc(100% / 2 - 50px);
  }
  .box:last-child {
    width: calc(100% - 50px);
  }
  .card img{
  width: 100%;
  height: 100%;
  }
  .container-nav-bar-middle{
    margin-top:70px;
    display: flex;
    width: 85%;
  }
  .nav-bar-middle{
    flex-wrap: wrap;
  }
  .header-upgrade{
    height: 50px;
    width: calc(100% - 150px);
    background-color: rgba(0, 0, 0, 0.7);
    text-align: left;
    line-height: 80px;
    position: fixed;
    z-index: 1;
  }
  
  .btn-big{
    border-radius: 30px;
    border: 1px solid var(--white);
    padding: 6px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 0.5rem;
  }
  .logo-nav span{
    display: none;
  }
  .app span{
    display: none;
  }
  .nn{
    display: none;
  }
  .card-oval img{
    width: 100%;
    object-fit: cover;
    height: 100%;
  }












/* FINE MEDIA QUERIES */